<!-- Individual Action Component -->
<div *ngIf="action" id="individual-action">
	<div class="profile">
		<div id="thumb">
			<img src="{{action?.thumbnailUrl}}" alt="Profile Thumbnail">
		</div>
		<div id="info">
			<h3>{{fundeeM[action?.fundeeId]}}</h3>
		</div>
	</div>


	<div *ngIf="action" class="action-info">
		<h3 id="name">{{action?.actionName}}</h3>
		<h6 id="date'">on {{action?.date}}</h6>
		<p id="description">{{action?.descLong}}</p>
	</div>

	<div class="action-media">
		<h5>Action Media</h5>
		<p>Media for action lives here.</p>
	</div>

</div>

<app-sidebar></app-sidebar>
