<div class="post-manager">
	<h3>Create/Edit Post</h3>
	<br />
	<form>
    <div class="col">
      <input type="text" #actionName class="form-control" placeholder="Action Title" required="true">
    </div>
    <div class="col">
      <input type="text" #fundeeId class="form-control" placeholder="Contributor" required="true">
    </div>
    <div class="col">
      <textarea class="form-control" id="action-textarea" placeholder="Describe your recent action." maxlength="1500" required="true"></textarea>
    </div>
    <div class="col attachment">
      <p>Attach Media...</p>
      <input type="file" class="form-control-file" id="inputFile">
    </div>
    <button type="submit" class="btn btn-success" (click)="save(actionName.value,fundeeId.value)">Submit</button>
	</form>
</div>

