.post-manager {
	display: flex;
	flex-flow: column nowrap;
	max-width: 65%;
	margin: 0 auto;
	padding: 30px;
}

.post-manager input {
	margin: 10px auto;
}

#action-textarea {
	min-height: 200px;
}

.attachment {
	padding-top: 20px;
}