<div class="signup">
	<h3>Create User</h3>
	<br />
	<form>
		<div class="col">
			<div class="funding-radios">
				<input type="radio" class="form-control" name="funding_status">
				<h5>Seeking Funding</h5>
			</div>
      <div class="funding-radios">
      	<input type="radio" class="form-control" name="funding_status">
				<h5>Providing Funding</h5>
			</div>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Organization Name" required="true">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Type" required="true">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Interests" required="true">
    </div>
    <div class="col">
      <textarea class="form-control" id="signup-textarea" placeholder="Provide a description of the organization..." maxlength="1500" required="true"></textarea>
    </div>
    <div class="col attachment">
      <p>Attach Image...</p>
      <input type="file" class="form-control-file" id="inputFile">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

