html {
	position: relative;
	min-height: 100%;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	padding-bottom: 75px;
	margin-bottom: 75px;
	overflow: auto;
}

* {
	box-sizing: border-box;
}

#logo {
	height: 36px;
}

h1, h2, h3, h4, h5, h6, a {
	color: #00BFA5 !important;
}

button {
	background: #00BFA5 !important;
	outline: none !important;
	border: 0 !important;
}

